// COLORS
$color-primary: #55c57a;
$color-primary-light:  #7ed56f;
$color-primary-dark: #28b485;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-light: #eee;
$color-white: #fff;
$color-black: #000;
$color-red: #ea2323;

$color-secondary-dark: #a44200;
$color-secondary-light:#f2c17d;
$color-tertiary-dark:#5643fa;
$color-tertiary-light: #2998ff;




// section background colors:
$color-grey-light-1: #f7f7f7;//very settle gray color. Close to white.

//FONT

$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem; // It is a standard to make the width of a row 1140px.
$gutter-vertical: 8rem; // Gutter is the space between rows.
$gutter-horizontal: 6rem;
