.foot-print-right {
  @include foot-animation;
  top: 67vh;
  left: 15vw;
  animation-delay: 1.2s;

  @include respond(tab-port) {
    @include foot-animation-tablet;
    top: 67vh;
    left: 15vw;
    animation-delay: 1.2s;
  }

  @include respond(phone) {
    top: 68vh;
    left: 15vw;
    @include foot-animation-mobile;
    animation-delay: 1.2s;
  }

  @include respond(phone-small) {
    top: 70vh;
    left: 20vw;
  }

}

.foot-print-left {
  @include foot-animation;
  top: 69vh;
  right: 4vw;
  animation-delay: 1.7s;

  @include respond(big-desktop) {
    top: 62vh;
    right: 5vw;
  }

  @include respond(tab-land) {
    top: 60vh;
    right: 9vw;
  }

  @include respond(tab-port) {
    @include foot-animation-tablet;
    animation-delay: 1.7s;
    top: 71vh;
    right: 26vw;
  }

  @include respond(phone) {
    @include foot-animation-mobile;
    top: 70vh;
    right: 20vw;
    animation-delay: 1.7s;
  }

  @include respond(phone-small) {
    top: 72vh;
    right: 24vw;

  }
}

.foot-print-img {
  height: 20rem;
}

//MOBILE//

.foot-print-mobile-img {
  display: none;
}

@include respond(phone) {
  .foot-print-img {
     display: none;
   }

   .foot-print-mobile-img {
     display: block;
     height: 11rem;
   }
}
