.composition {
  position: relative;


  &__photo {
    position: absolute;
    width: 55%;//Always use width: percentage when dealing with images. Because this is one
    //of the ingredients of responsive webdesign. Flexible images this way it will nicely
    //scale with the viewpoint
    box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
    border-radius: 2px;
    transition: all .3s;
    outline-offset: 1rem;// offsetting the "border"

    @include respond(tab-port) {
      position: relative;
      float: left;// we want the images side by side.
      width: 33.33333333333333333%;
      box-shadow: 0 1.5rem 3rem rgba($color-black, .2);
    }

  &--p1 {

    left: 0;
    top: 1rem;

    @include respond(tab-port) {
      top: 0;
      transform: scale(1.3);

    }

  }


  &--p2 {
    right: 0;
    top:2rem;

     @include respond(tab-port) {
      top: 0;
      transform: scale(1.5);
      z-index: 1;
    }

  }


  &--p3 {
    left: 20%;// Here to with percentages because it is an image.
    top: 10rem;

     @include respond(tab-port) {
      top: 0;
      left: 0;
      transform: scale(1.3);
     }

  }

  &:hover {
    outline: 1.5rem solid rgba($color-primary, .6);// This is like an ordinary border;
    transform: scale(1.05);
    box-shadow: 0 2.5rem 4rem rgba($color-black, .5);
    z-index: 1;
    transform: translateY(-.5rem);

    @include respond(tab-port) {
      transform: scale(1.5);
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, .2);
      z-index: 2;
    }
  }
  }
  // this parent is not .composition. We closed the rest above.
  &:hover &__photo:not(:hover) {
//composition:hover composition_photo:not(:hover)
    transform: scale(.95);

    @include respond(tab-port) { transform: scale(1.1); }

  }

}


