body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark;

}


.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: fadeIn;
    animation-duration: 4s;
    backface-visibility: hidden; /* weird bug that the elements shake fix */

    @include respond(phone) {
    font-size: 5rem;
    letter-spacing: 1.75rem;
    }
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: up 1s ease-out 1s; /* includes animation-name, animation direction,
    animation timing function and animation-delay, */
    animation-fill-mode: backwards; /* the element will be placed already to its 0% state */
    backface-visibility: hidden;
    margin-bottom: 5rem;
    z-index: -2;

    @include respond(phone) { letter-spacing: .5rem; }
  }
}

.heading-secondary {
  letter-spacing: .2rem;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
  -webkit-background-clip: text;// clips the background image only to the text not to the whole block.
  color: transparent;// we don't want to see the color, we only want to see the background color.
  display: inline-block;//we dont want the whole line to be a gradient, just the element so from block to inline-block is the soluton.
  transition: all .2s;

  @include respond(tab-port) { font-size: 3rem; }
  @include respond(phone) { font-size: 2.5rem; }




  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba($color-black,.2);
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;





  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}

