//utilities are simple css codes that you can reuse. Start accumalating
//them and get yourself a nice libary.
.u-center-text { text-align:center; }

.u-margin-small { margin-bottom: 1.5rem; }
.u-margin-medium { margin-bottom: 4rem; }
.u-margin-bottom-big { margin-bottom: 8rem; }
